.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    
    background-color: #212529;

    height: 23rem;
}

.header__title{
    font-weight: bolder;
    font-size: 2.25rem;
    color: #FFFFFF;
    font-family: 'Poppins';
}

.header_title--extra{
    color: #484FFB;
    font-family: 'Poppins';
}

.header__description{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 0.8;
}

.header__button--container{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1rem;
}

.header__button{
    font-size: 1rem;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 2rem;
    padding: 0.5rem 6.5rem;
    background-color: #212529;
    opacity: 0.9;
}

.main__container{
    background-color: #E9ECEF;
    padding-bottom: 1rem;
}

.section__tittle{
    padding: 1.6rem;
}

.section__block--frontend, .section__block--backend{
    display: flex;
    
    overflow-x: scroll;
    gap: 1.6rem;
    margin: 0 1.6rem;
}


.section__list{
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    min-width: 283px;
    max-width: 283px;
    height: 176px;
    justify-content: space-between;
}

.card__block--tittle{
    display: flex;
    gap: 1rem;
}

.card_block--infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.card__tittle{
    font-size: 1rem;
    font-weight: bold;
}

.card__city{
    font-size: 0.75rem;
}

.card__description{
    font-size: 0.75rem;
}

.card__img{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}

.modality__block{
    display: flex;
    gap: 0.5rem;
}

.card__modality{
    font-size: 10px;
    color: #4D52D3;
    background-color: rgba(77, 82, 211, 0.1);
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-weight: bold;
}

@media(min-width: 768px){
    .section__block--frontend, .section__block--backend{
        flex-wrap: wrap;
        overflow-x: hidden;
    }

    .section__frontend, .section__backend{
        align-items: center;
        margin: 0 10% auto;
    }

    .section__tittle{
        align-self: flex-start
    }
}